:root {
   --color-body-bg: #ffffff;
   --color-text: #1a1f22;
   --color-bg: #fafafa;
   --color-primary: #747d58;
   --color-secondary: #d3be9e;
   --color-adv-img-bg: #F8F1E4;
   --color-accent: #987052;
   --color-button-hov: #92a672;
   --color-h2-text: #562F00;
}
