:root {
   --color-body-bg: #ffffff;
   --color-bg: #f5f2ed;
   --color-text: #1a1f22;
   --color-primary: #6f7850;
   --color-secondary: #e8dcc0;
   --color-accent: #8b6244;
   --color-button-bg: #798358;
   --color-h2-text: #562F00;
   --dot-accent: #798358;
   --dot-dark: #1c1c1a;
   --dot-border-color: #cfcfc4;
}