.intro-overlay__dots {
   position: absolute;
   bottom: 40px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   gap: 12px;
   z-index: 3;
}

.intro-overlay__dots button {
   position: relative;
   width: 24px;
   height: 14px;
   padding: 0;
   border: none;
   cursor: pointer;
   z-index: 1;

   transition: outline 0.3s ease;
   transition: width .3s ease;


   corner-shape: bevel square bevel square;
   border-radius: 0.3rem;
   outline: 1px solid var(--color-banner-btn-outline);
   background-color: var(--color-banner-btn-bg);

}


.intro-overlay__dots button:hover {
   outline: 1px solid var(--color-banner-btn-outline-hover);
   transition: outline 0.3s ease;
}

.intro-overlay__dots button.is-active {
   width: 44px;
   background-color: var(--color-banner-btn-bg-active);
   outline: 1px solid var(--color-banner-btn-outline-active);
}