.products p {
   margin-top: 0;
}

.products .button {
   display: flex;
   justify-content: center;
}

.btn-catalog {
   position: relative;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   padding: 30px 35px;
   margin-top: 50px;
   color: var(--color-btn-text);
   font-weight: 700;
   font-size: 16px;
   text-transform: uppercase;
   text-decoration: none;
   max-height: 50px;
   letter-spacing: 1px;

   transition: transform 0.2s ease;
   transition: color 0.3s ease;
   transition: background 0.3s ease;

   corner-shape: bevel square bevel square;
   border-radius: 0.7rem;
   outline: 2px solid var(--color-btn-outline);
   background-color: var(--color-btn-bg);
}


.btn-catalog:hover {
   color: var(--color-btn-text-hover);
   background-color: var(--color-btn-bg-hover);
   transition: background 0.3s ease;
}


.btn-arrow {
   display: inline-block;
   max-width: 0;
   opacity: 0;
   transform: translateX(-15px);
   transition: all 0.3s ease;
   white-space: nowrap;
   margin-left: 0;
   font-size: 18px;
}

.btn-catalog:hover .btn-arrow {
   max-width: 20px;
   opacity: 1;
   transform: translateX(0);
   margin-left: 10px;
   fill: var(--color-btn-text-hover);
}